In [2]:
import pandas as pd

In [3]:
iris=pd.read_csv('Iris1.csv')

In [4]:
iris.head()

   seple length  seple width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
iris['code']=pd.factorize(iris.species)[0]

In [6]:
iris.head()

   seple length  seple width  petal length  petal width      species  code
0           5.1          3.5           1.4          0.2  Iris-setosa     0
1           4.9          3.0           1.4          0.2  Iris-setosa     0
2           4.7          3.2           1.3          0.2  Iris-setosa     0
3           4.6          3.1           1.5          0.2  Iris-setosa     0
4           5.0          3.6           1.4          0.2  Iris-setosa     0

In [7]:
iris.tail()

,seple length,seple width,petal length,petal width,species,code
145,6.7,3.0,5.2,2.3,Iris-virginica,2
146,6.3,2.5,5.0,1.9,Iris-virginica,2
147,6.5,3.0,5.2,2.0,Iris-virginica,2
148,6.2,3.4,5.4,2.3,Iris-virginica,2
149,5.9,3.0,5.1,1.8,Iris-virginica,2

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [10]:
iris['code_le']=le.fit_transform(iris.species)

In [11]:
iris.head()

,seple length,seple width,petal length,petal width,species,code,code_le
0,5.1,3.5,1.4,0.2,Iris-setosa,0,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0,0